Model/GCA-main/.gitignore
Model/GCA-main/gca.png
Model/GCA-main/LICENSE
Model/GCA-main/README.md
Model/GCA-main/train.py
Model/GCA-main/pGRACE/__init__.py
Model/GCA-main/pGRACE/dataset.py
Model/GCA-main/pGRACE/eval.py
Model/GCA-main/pGRACE/functional.py
Model/GCA-main/pGRACE/model.py
Model/GCA-main/pGRACE/utils.py
Model/GCA-main/param/amazon_computers.json
Model/GCA-main/param/amazon_photo.json
Model/GCA-main/param/coauthor_cs.json
Model/GCA-main/param/coauthor_phy.json
Model/GCA-main/param/wikics.json
Model/GCA-main/simple_param/__init__.py
Model/GCA-main/simple_param/sp.py
Model/CCA-AGC-main/.gitignore
Model/CCA-AGC-main/augmentation.py
Model/CCA-AGC-main/evaluation.py
Model/CCA-AGC-main/LICENSE
Model/CCA-AGC-main/module.py
Model/CCA-AGC-main/pretrain.py
Model/CCA-AGC-main/README.md
Model/CCA-AGC-main/sub_356_supp.pdf
Model/CCA-AGC-main/train_conclu.py
Model/CCA-AGC-main/utils.py
Model/CCA-AGC-main/data/load_data/ACM_1nn.npy
Model/CCA-AGC-main/data/load_data/Amazon-Computers-Small_1nn.npy
Model/CCA-AGC-main/data/load_data/ebc_Amazon-Computers-Small_1knn.npy
Model/CCA-AGC-main/data/load_data/ebc_PubMed-Small_1knn.npy
Model/CCA-AGC-main/data/load_data/ebc_PubMed-Small.npy
Model/CCA-AGC-main/data/load_data/PubMed-Small_1nn.npy
Model/CCA-AGC-main/pretrain/ACM_contra.pkl
Model/CCA-AGC-main/pretrain/Amazon-Computers_contra_m.pkl
Model/CCA-AGC-main/pretrain/Amazon-Computers-Small_contra.pkl
Model/CCA-AGC-main/pretrain/Amazon-Photo_contra.pkl
Model/CCA-AGC-main/pretrain/CiteSeer_contra.pkl
Model/CCA-AGC-main/pretrain/Coauthor-CS_contra_m.pkl
Model/CCA-AGC-main/pretrain/Cora_contra.pkl
Model/CCA-AGC-main/pretrain/PubMed_contra_m.pkl
Model/CCA-AGC-main/pretrain/PubMed-Small_contra.pkl
Model/CCA-AGC-main/pretrain/WikiCS_contra_m.pkl
